<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mega Man Battle Network Online</title>
    <meta name="description" content="Mega Man Battle Network Online http://brandonevans.org/mmbno/" />
    <meta name="keywords" content="mega man, megaman, battle, network, online" />
    <meta name="author" content="Brandon Evans" />

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/javascripts/mmbno.js"></script>
</head>
<body>
</body>
</html>
